body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.messi-img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.logros h2 {
    margin-top: 0;
}

.logros ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
